@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  height: 100%;
}

a {
  text-decoration: none !important;
}



input,
button,
textarea,
input:focus,
button:focus,
textarea:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0rem;
}

input,textarea{
  padding:8px;
  box-sizing: border-box;
  width: 100%;
  border:1px solid #eee;
  border-radius: 4px;
}

button{
  width: 100%;
  border:none;
  outline: none;
  padding:8px;
  border-radius: 4px !important;

}

textarea{
  resize: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}